<ion-content>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  
  <h1>Welcome</h1>
  <h3>List INVOICE</h3>

  <ion-card *ngFor="let factura of listadoServicios">
      
    <ion-card-header>
      <ion-card-title>{{factura.fechaDeEmision}}</ion-card-title>
      <ion-card-subtitle>{{factura.cliente.nombre}}</ion-card-subtitle>
      <ion-card-subtitle>{{factura.totalF}}</ion-card-subtitle>
    </ion-card-header>
  <ion-item>
    <ion-card-content>
      <ion-button fill="clear" color="success">
        <ion-icon name="eye-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" color="success" [routerLink]="['/../cliente-change', factura.identificacionNumero]">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <!--ion-button (click) = "eliminar(cli.id)">
        <ion-icon name="trash-outline"></ion-icon>
      </!--ion-button-->
    </ion-card-content>
  </ion-item>
  
</ion-card>
</ion-content>