*{
    font-family: lato;
}
.titulo{
    height: 40px;
    width: 160px;
    background: #000000 ;

    .cuadro-derecho{
        position: absolute;
        top: 62px;
        height: 25px;
        width: 25px;
        //box-shadow: #000000 -1px 0px 15px 5px;
        background: #000000 ;
        border-radius: 0px;
        margin-left: 250px;
        
    }
}

.text-titulo{
    position: absolute;
    top: 40px;
    left: 30px;
    display: flex;
    align-items: center;
    color: #e4e4e4;
}

h1{
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
}

h3{
    color: #939fab;
    font-weight: 600;
}

.form-field{
    position: relative;
    margin-bottom: 1rem;
    height: 50px;

    label{
        position: absolute;
        left: 1rem;
        top: 1rem;
        padding: 0 0.25rem;
        color: #939fab;
        font-size: 1rem;
        transition: 0.3s;
    }

    input{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        font-size: 17px;
        font-weight: 600;
        border: 2px solid #e7ebee;
        border-radius: 10px;
        outline: none;
        padding: 1rem;
        z-index: 1;
        color: #171c25 ;
        background-color: white;
    }

    input:focus{
        border-color: #fa578e;
    }

    .label-focused{
        top: -0.4rem;
        left: 0.8rem;
        font-size: 14px;
        font-weight: 600;
        background-color: black;
        z-index: 10;
    }
}



form{
    margin-top: 1rem;

    .forgot-password-link{
        text-decoration: none;
        display: inline-block;
        width: 100%;
        text-align: right;
        font-weight: 600;
        font-size: 14px;
        color: #4a4a4a;
    }

    app-button{
        display: block;
        margin-top: 1rem;
    }
}

.footer-text{
    text-align: center;
    font-size: 17px;
    margin-top: 25%;

    a{
        text-decoration: none;
        font-weight: 600;
        color: #fa578e;
    }
}