@font-face {
    font-family: Gilroy;
    src: url(../assets/font/Gilroy-Regular.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(../assets/font/Gilroy-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Gilroy;
    src: url(../assets/font/Gilroy-Bold.ttf);
    font-weight: 700;
}